pre-commit
tox
tox-factor
-r test_requirements.txt
-e git+https://github.com/QualiSystems/cloudshell-logging.git@dev#egg=cloudshell-logging
-e git+https://github.com/QualiSystems/cloudshell-shell-core.git@dev#egg=cloudshell-shell-core
-e git+https://github.com/QualiSystems/cloudshell-cli.git@dev#egg=cloudshell-cli
-e git+https://github.com/QualiSystems/cloudshell-snmp.git@dev#egg=cloudshell-snmp
-e git+https://github.com/QualiSystems/cloudshell-snmp-autoload.git@dev#egg=cloudshell-snmp-autoload
-e git+https://github.com/QualiSystems/cloudshell-shell-flows.git@dev#egg=cloudshell-shell-flows
-e git+https://github.com/QualiSystems/cloudshell-shell-connectivity-flow.git@dev#egg=cloudshell-shell-connectivity-flow
-e git+https://github.com/QualiSystems/cloudshell-shell-flows.git@dev#egg=cloudshell-shell-flows
-e git+https://github.com/QualiSystems/cloudshell-shell-standards.git@dev#egg=cloudshell-shell-standards
-e git+https://github.com/QualiSystems/cloudshell-shell-networking-standard.git@dev#egg=cloudshell-shell-networking-standard
