pre-commit
tox
tox-factor
-r test_requirements.txt
git+https://github.com/QualiSystems/cloudshell-shell-core.git@dev#egg=cloudshell-shell-core
git+https://github.com/QualiSystems/cloudshell-core.git@dev#egg=cloudshell-core
git+https://github.com/QualiSystems/cloudshell-cli.git@dev#egg=cloudshell-cli
git+https://github.com/QualiSystems/cloudshell-snmp.git@dev#egg=cloudshell-snmp
git+https://github.com/QualiSystems/cloudshell-snmp-autoload.git@dev#egg=cloudshell-snmp-autoload
git+https://github.com/QualiSystems/cloudshell-shell-flows.git@dev#egg=cloudshell-shell-flows
git+https://github.com/QualiSystems/cloudshell-shell-standards.git@dev#egg=cloudshell-shell-standards
git+https://github.com/QualiSystems/cloudshell-shell-networking-standard.git@dev#egg=cloudshell-shell-networking-standard
