jsonpickle==0.9.3
ecdsa==0.13
Inject==3.3.1
ipcalc==1.1.3
linecache2==1.0.0
paramiko==1.15.2
ply==3.8
pyasn1==0.1.9
pycrypto==2.6.1
pysmi==0.0.6
pysnmp==4.3.1
traceback2==1.4.0
coverage
unittest2
mock
teamcity-messages
nose
nose-exclude
cloudshell-networking>=2.0, <2.1

